#mia-author-data{
	width:100%;
	height:200px;
}
.mia-author-field-wrap input,
.mia-author-field-wrap textarea,
.mia-author-field-wrap label {
	width:100%;
	display:block;
}

.mia-author-field-wrap{
	margin-top:10px;
}
