<div>

	<field label='TMS ID' name='tmsid' type='text' />

	<annotatedimage label='Image' name='image'>

		<field label='Text' name='text' type='text' />

		<field label='Text Area' name='textarea' type='textarea' />

		<field label='WYSIWYG' name='wysiwyg' type='wysiwyg' />

	</annotatedimage>

	<repeater label='Repeater' name='repeater' label-singular='repeater item' label-plural='repeater items'>

		<field label='Text' name='text' type='text' />

		<field label='Text Area' name='textarea' type='textarea' />

		<field label='WYSIWYG' name='wysiwyg' type='wysiwyg' />

	</repeater>

</div>