<div>

	<field label='TMS ID' name='tmsid' type='text' />

	<field label='Description' name='description' type='wysiwyg' />

	<repeater label='Views' label=plural='views' label-singular='view' name='views'>

		<field label='Title' name='repeatertitle' type='text' />

		<repeater label='Annotations' label-plural='annotations' label-singular='annotation' name='annotations'>

			<field label='Something' name='something' type='wysiwyg' />

		</repeater>

		<field label='Image' name='image' type='text' />

	</repeater>

</div>