<div id='mia-author'>

	<textarea name='content' id='mia-author-data'>{{ data | json }}</textarea>

	<field label='TMS ID'>
		<input type='text' ng-model='data.tmsid' />
	</field>

	<field label='Description'>
		<textarea ng-model='data.description'></textarea>
	</field>

	<fieldgroup label='Views' prop='views'>

		<field label='Something'>
			<input type='text' ng-model='data.views[$index].order' />
			<input type='text' ng-model='data.views[$index].something' />
		</field>

	</fieldgroup>

</div>